<section><h2 class="section-heading" id="data">Data<a class="anchor" aria-label="anchor" href="#data"></a></h2>
  <hr class="half-width"><p>You can download all of the data used in this workshop by clicking <a href="https://ndownloader.figshare.com/articles/1314459/versions/9" class="external-link">this
  download link</a>. The file is 38.4 MB.</p>
  <p>Clicking the download link will automatically download all of the
  files to your default download directory as a single compressed
  (<code>.zip</code>) file. To expand this file, double click the folder
  icon in your file navigator application (for Macs, this is the Finder
  application).</p>
  <p>For a full description of the data used in this workshop see the <a href="data.html">data page</a>.</p>
  <div class="section level3">
  <h3 id="spreadsheet-program">Spreadsheet program<a class="anchor" aria-label="anchor" href="#spreadsheet-program"></a></h3>
  <ul><li><p>To interact with spreadsheets, we can use LibreOffice, Microsoft
  Excel, Gnumeric, OpenOffice.org, or other programs. Commands may differ
  a bit between programs, but the general ideas for thinking about
  spreadsheets are the same. For this workshop, we recommend using either
  Microsoft Excel (paid software) or LibreOffice (free and open source).
  Other spreadsheet programs may not have all of the features we will be
  exploring in this workshop.</p></li>
  <li><p>To install LibreOffice, go to their <a href="https://www.libreoffice.org/download/download/" class="external-link">download page</a>.
  The website should automatically select the correct option for your
  operating system. Click the “Download” button. You will go to a page
  that asks about a donation, but you don’t need to make one. Your
  download should begin automatically. Once the installer is downloaded,
  double click on it (you may need to open your Downloads folder) and
  LibreOffice should install.</p></li>
  </ul></div>
  </section>
